<div class="wrap">
  <h1 class="text-center">Profile Page</h1>
  <div class="wrapper">
    <div class="card mb-10 shadow-sm">
      <img class="img-fluid" />
      <div class="card-body">
        <p class="card">
          <title></title>
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-primary">View</button>
            <button>Delete Recipe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
